<div class="contact__wrapper home-section__wrapper">
    <div class="contact__content home-section__content">
        <figure class="contact__figure">
            <img src="{{imageURL}}" alt="casa TO a Barcelona">
            <figcaption>
                <p> la casa a: Escola d'Enginyeria de Barcelona Est (EEBE) de la UPC. Campus Diagonal Besòs, Edifici A (c/ d'Eduard Maristany, 16).</p>
                <p>Per més informació <a href="https://ajuntament.barcelona.cat/lafabricadelsol/inscripcions/llar-sostenible" target="_blank"> Visita el web</a>, o <a href="mailto:martiog@gmail.com">contacta per correu</a>.</p>
            
            </figcaption>

        </figure>

    </div>

</div>
