<div id="sponsors">
    <div class="sponsors__content">
        <div class="sponsors__section" section="logos">
            <h1 class="institutionalsponsors__section-title">COL·LABORADORS INSTITUCIONALS</h1>
            <div class="institutionalsponsors__section-grid">
                {{#institutional}}
                <div class="institutionalsponsors__grid-item">
                    <div class="institutionalsponsors__item-img" style="background-image: url('{{file}}');"></div>
                </div>    
                {{/institutional}}
            </div>
            <h1 class="mainsponsors__section-title">COL·LABORADORS PRINCIPALS</h1>
            <div class="mainsponsors__section-grid">
                {{#main}}
                <div class="mainsponsors__grid-item">
                    <div class="mainsponsors__item-img" style="background-image: url('{{file}}');"></div>
                </div>    
                {{/main}}


            </div>  
            <h1 class="orsponsors__section-title">SPONSORS D'OR</h1>
            <div class="orsponsors__section-grid">
                {{#or}}
                <div class="orsponsors__grid-item">
                    <div class="orsponsors__item-img" style="background-image: url('{{file}}');"></div>
                </div>    
                {{/or}}


            </div>  
            <h1 class="platasponsors__section-title">SPONSORS DE PLATA</h1>
            <div class="platasponsors__section-grid">
                {{#plata}}
                <div class="platasponsors__grid-item">
                    <div class="platasponsors__item-img" style="background-image: url('{{file}}');"></div>
                </div>    
                {{/plata}}


            </div>  
            <h1 class="bronzesponsors__section-title">SPONSORS DE BRONZE</h1>
            <div class="bronzesponsors__section-grid">
                {{#bronze}}
                <div class="bronzesponsors__grid-item">
                    <div class="bronzesponsors__item-img" style="background-image: url('{{file}}');"></div>
                </div>    
                {{/bronze}}
            </div>
                <h1 class="collaboradorsponsors__section-title">COL·LABORADORS</h1>
                <div class="collaboradorsponsors__section-grid">
                    {{#collaboradors}}
                    <div class="collaboradorsponsors__grid-item">
                        <div class="collaboradorsponsors__item-img" style="background-image: url('{{file}}');"></div>
                    </div>    
                    {{/collaboradors}}
    

                </div>  
        </div>


    </div>
</div>


