.gallery-content
    width:100%
    display: flex
    flex-wrap: wrap

    .img-container
        width: calc(33% - 20px)
        display: flex
        flex-grow: 0
        margin:10px
        flex-direction: column

    @media screen and (max-width: 700px)
        .img-container
            width: calc(50% - 20px)

    @media screen and (max-width: 450px)
        .img-container
            width: calc(100% - 20px)

    .img-row img
        width:100%
        height: auto

    /*TEXT*/
    .text-content
        padding-right:5%
        text-align: justify

/*OVERLAY*/
.overlay
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0,0,0,.9); /*Pantalla de color negre amb opacitat .9*/
    width:100%;
    height: 100vh;
    display: none; /*volem treballar amb la imatge i el text com si fossin un grid*/
    align-items: center;
    justify-content: center;
    flex-direction: row; ;/*per posar el paràgraf sota la imatge*/
    flex-direction: column
    justify-content: center

    &.activo
        display: flex

    .glider-container
        width: 500px
        height: 500px

    .glider-img
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        height: 50%

    .glider-prev
        left: 50px

    .glider-next
        right: 50px

    #boton-cerrar
        display: flex
        justify-content: left 
        background: none;
        font-size: 25px;
        color: white;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 1%;
        left: 3%
        z-index: 1000
