.gallery-content
    padding:5%
    width:100%

.img-row
    display: flex
    justify-content: space-between
.img-container
    display: flex
    flex-grow: 0
    margin:10px
    flex-direction: column
   
.img-row img
    width:100%
    height: auto

/*OVERLAY*/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0,0,0,.9); /*Pantalla de color negre amb opacitat .9*/
    width:100%;
    height: 100vh;
    display: none; /*volem treballar amb la imatge i el text com si fossin un grid*/
    align-items: center;
    justify-content: center;
    flex-direction: row; ;/*per posar el paràgraf sota la imatge*/
}

.overlay.activo{
    display: flex;
    

}
.overlay img{ 
    width: auto;
    height: 80vh;
    margin-top: 0px; 
    justify-content: center
    }
.overlay-img{
    display: flex
    position: relative;
    width: 80vw;
    justify-content: center
    }
.overlay-img #boton-cerrar{
    display: flex
    justify-content: left 
    background: none;
    font-size: 25px;
    color: black;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1%;
    }

/*TEXT*/
.text-content
    padding-right:5%
    text-align: justify