.gallery-content
  width: 100%
  display: flex
  flex-wrap: wrap
  padding: 150px 8%

  @media screen and (max-width: 950px)
    padding: 150px 5%

  @media screen and (max-width: 650px)
    padding: 150px 3%

.img-container
.mov-container
  flex-basis: 33%
  display: flex
  flex-grow: 1
  flex-shrink: 0
  padding: 25px 10px
  // margin: 25px 5px
  flex-direction: column
  border: 1px solid white
  transition: border-color .3s ease-in-out

  &:hover .text-content
    color: $magenta

  img
    width: 100%
    height: 100%
    cursor: pointer
    object-fit: cover

  video
    object-fit: cover
    width: 100%
    height: 100%

  /*TEXT*/
  .text-content
    display: none
    text-align: justify
    margin-top: 10px
    transition: color .3s ease-in-out

@media screen and (max-width: 950px)
  .img-container
  .mov-container
    flex-basis: 50%

@media screen and (max-width: 650px)
  .img-container
  .mov-container
    flex-basis: 100%


/*OVERLAY*/
.overlay
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.8);
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center
  z-index: 1000

  &.activo
    display: flex

  .carousel-container
    width: 90%

  @media screen and (max-width: 950px)
    width: 80%

  .carousel-img
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    height: 100vh

  #boton-cerrar
    display: flex
    justify-content: left 
    background: none;
    font-size: 25px;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 3%
    z-index: 1000
