#projectView
  .project__content
    padding: 150px 8%

    @media screen and (max-width: 950px)
        padding: 150px 5%

   @media screen and (max-width: 650px)
       padding: 150px 3%

.project__child-wrapper
  height: calc(100vh - 150px)
  position: relative
  padding: 20px 10%

  @media screen and (max-width: 950px)
    height: auto
    padding: 20px 5%

.project__child
  display: flex
  flex-direction: row
  height: 100%

  @media screen and (max-width: 950px)
    flex-direction: column

  &[template="1"]
    .project__child-txt
      margin-left: auto
      flex-grow: 0
      flex-shrink: 0
      flex-basis: 75%

  &[template="2"]
  &[template="2r"]
    padding-bottom: 100px

    .project__child-txt
      margin-right: 20px
      justify-content: flex-end

  &[template="2r"]
    flex-direction: row-reverse

    .project__child-txt
      margin-left: 20px

  @media screen and (max-width: 950px)
    &[template="2"] .project__child-img
      margin-top: 20px

    &[template="2r"]
      flex-direction: column-reverse

      .project__child-img
        margin-bottom: 20px

  &[template="3"]
    padding-bottom: 100px

  &[template="4"]
    display: flex

    .project__child-txt
      margin-right: auto
      flex-grow: 0
      flex-shrink: 0
      flex-basis: 75%

.project__child-txt
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center

.project__child-img
  flex: 1
  display: flex
  background-color: #E5E5F7
  opacity: 0.4
  background-image: radial-gradient(#444CF7 1px, #E5E5F7 1px)
  background-size: 20px 20px

  @media screen and (max-width: 950px)
    min-height: calc(100vh - 300px)
