.template{
	display: flex;
	flex-direction: row;
	height: calc(100vh - 0px);
	margin: 0px 35px 0px 35px;
}

.template1_container{
	
	
}

.template2_container{
	display: flex;
	/*position:absolute;*/
	flex-direction: row;
	height: calc(100vh - 0px);
	margin: 0px 35px 0px 35px;
}

.template1_text{
	
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: flex-end;
	width: 75%;
}

.template1_text .template4_text p{
	width: 75%;
}

.template4_text p{
	width: 75%;
}

.template4_text {
	align-items: flex-end;
	justify-content: flex-start;
	display: flex;
	width: 100%;
}

.template4_text{

	width: 100%;
}

.template2_text{
	flex:1;
}

.template2_image{
	background-color: red;
	height: calc(100vh - 0px);
	flex:1;
	
}

.template3_image{
	background-color: red;
	height: calc(100vh - 0px);
	flex:1;
	background:aliceblue;
}

.template4_image{
	background-color: red;
	height: calc(100vh - 0px);
}

.template1_container{
	display:flex
	
}