#lngMenu

  &:hover
    .lng-menu__visible
      display: none

    .lng-menu__list
      display: block


  .lng-menu__wrapper
    height: 100%
    text-transform: uppercase
    text-align: right
    position: relative
    width: min-content
    margin-left: auto

  .lng-menu__visible
    color: #222
    line-height: 100px
    cursor: pointer

  .lng-menu__list
    position: absolute
    z-indez: 10
    display: none
    right: 0px
    top: 45%

    &:focus
      display: none

  .lng-menu__list-item
    cursor: pointer

    &:hover
      color: white
