header.dark #lngMenu .lng-menu__item
  text-shadow: 1px 1px 3px rgba(50, 50, 50, .5)

#lngMenu
    &.expanded
      .lng-menu__visible
        display: none

      .lng-menu__list
        display: block

  .lng-menu__wrapper
    height: 100%
    text-transform: uppercase
    text-align: right
    position: relative
    width: fit-content
    margin-left: auto

  .lng-menu__visible
    color: #222
    line-height: 100px
    cursor: pointer
    color: #dddddd

  .lng-menu__list
    position: absolute
    z-indez: 10
    display: none
    right: 0px
    top: 36px

  .lng-menu__list-item
    cursor: pointer
    color: #ccc
    text-shadow: 1px 1px 3px rgba(150, 150, 150, .5)

    &:hover
      color: #222
