



<!DOCTYPE html>
<head>
    <meta charset="utf8" />
    <meta name="vierport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Public web page of TO ETSAV'S project">
    <meta name="keywords" content="TO, ETSAV, architecture, UPC, sustainability">
    <meta name="author" content="">
    <title>TO | ETSAV</title>

    <link rel="stylesheet" type="text/css" href="dist/bundle.css" />
    <link rel="stylesheet" type="text/css" href="portada.css" />
</head>
<body>
    <div id="app">
        <header>
        	<div id="header">MENU</div>
        </header>
        <div id="content">
           <!-- PINTAR CONTINGUT -->
			<div class="imgs-container">
				<div class=img1>
					<a href="https://etsav.upc.edu/es"> 
						<!-- <img src="pics/1.jpg" alt="Portada"> -->
					</a>
					<div class=img-text>PORTADA</div>
				</div>
				<div class=img2>
					<a href="https://etsav.upc.edu/es">
						<!-- <img src="pics/2.jpg" alt="Portada"> -->
					</a>
					<div class=img-text>EL PROJECTE</div>
				</div>
				<div class=img3>
					<a href="https://etsav.upc.edu/es">
						<<!-- img src="pics/3.jpg" alt="Portada"> -->
					</a>
					<div class=img-text>GALERIA</div>
				</div>
				<div class=img4>
					<a href="https://etsav.upc.edu/es">
						<!-- <img src="pics/4.jpg" alt="Portada"> -->
					</a>
					<div class=img-text>PATROCINADORS</div>
				</div>
				<div class=img5>
					<a href="https://etsav.upc.edu/es">
						<!-- <img src="pics/5.jpg" alt="Portada"> -->
					</a>
					<div class=img-text>EQUIP</div>
				</div>
				<div class=img6>
					<a href="https://etsav.upc.edu/es">
						<!-- <img src="pics/6.jpg" alt="Portada"> -->
					</a>
					<div class=img-text>DOCUMENTS</div>
				</div>

			</div>

		</div>
        <footer>
        	<div id="footer">
        		<div class=foot-container>
	        		<div class=foot-text>Contacta'ns </div>
	        		<div class=foot-text>XXXXX </div>
	        		<div class=foot-text>XXXXX </div>
	        		<div class=foot-text>XXXXX </div>
        		</div>
        	</div>
        </header>
        </footer>
    </div>
    <script type="text/javascript" src="dist/bundle.js"></script>
</body>
</html>