<div class="equip-content">
    {{#images}}
        <div class="img-row" >
            <img src="public/images/equip/{{file}}" width=90% height=65%/>
            <div class="img-name" >
            {{fullname.name}}<br>
            {{fullname.surnames}}
            </div>
            <div class="img-details" >
            {{details.date}}<br>
            {{details.level}}<br>
            {{details.position}}<br>
            {{details.department}}<br>
            {{quote}}
            </div>
        </div>
    {{/images}}
</div>