<div class="gallery-wrapper">

<p> © <a href="http://www.andresflajszer.com/">Andrés Flajszer</a></p>

<div class="gallery-content">
    {{#images}}
    <div class="img-container">
        <img id= "{{id}}" index="{{index}}" loading="lazy" src="public/images/gallery/{{smallfile}}"/>
        <div class="text-content">
            {{text}}
        </div>
    </div>
    {{/images}}
    {{#videos}}
    <div class="mov-container" >
      <video autoplay muted loop id="{{id}}" index="{{index}}" src="public/videos/{{file}}"></video>
    </div>
    {{/videos}}
</div>

<div class="overlay">
    <button id="boton-cerrar">x</button>
    <div class="carousel-container">
        <div class="carousel">
            {{#images}}
                <div id="{{id}}" class="carousel-img" style="background-image: url(public/images/gallery/{{file}});"></div>
                <!-- <img id="{{id}}" class="carousel-img" src="public/images/gallery/{{file}}"/> -->
            {{/images}}
        </div>
        <div role="tablist" class="dots"></div>
    </div>
</div>
</div>