<div class="gallery-content">
    {{#rows}}
        <div class="img-row" >
            {{#images}}
            <div class="img-container">
                <img id= "{{id}}" src="public/images/galeria/{{smallfile}}"/>
                <div class="text-content">
                    {{text}}
                </div>
            </div>
            {{/images}}
        </div>
    {{/rows}}
</div>

<div class="overlay">
    <div class="overlay-img">
        <button id="boton-cerrar">x</button>
        <img src="" alt="">
    </div>
</div>