<div id="projectView">
  <div class="project__content">
    <div class="project__child-wrapper">
      <div class="project__child" template="1">
        <div class="project__child-txt">$lng(project_text_1)</div>
      </div>
    </div>
    <div class="project__child-wrapper">
      <div class="project__child" template="3">
        <div class="project__child-img">
          <img src="public/images/projecte/exterior_nord.jpg" />
        </div>
      </div>
    </div>
    <div class="project__child-wrapper">
      <div class="project__child" template="2">
        <div class="project__child-txt">$lng(project_text_2)</div>
        <div class="project__child-img">
          <img src="public/images/projecte/2_1.Planta.png" />
        </div>
      </div>
    </div>
    <div class="project__child-wrapper">
      <div class="project__child" template="2r">
        <div class="project__child-txt">$lng(project_text_3)</div>
        <div class="project__child-img">
          <img src="public/images/projecte/seccio_fugada.png" />
        </div>
      </div>
    </div>
    <div class="project__child-wrapper">
      <div class="project__child" template="4">
        <div class="project__child-txt">$lng(project_text_4)</div>
      </div>
      <div class="project__child" template="3">
        <div class="project__child-img">
          <img src="public/images/projecte/1_VISTA_EXTERIOR.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
