body
    font-family: Georgia, 'Times New Roman', Times, serif
    font-size: 20px
    line-height: 20px
    box-sizing: border-box
    color: #303038

    &.fixed-viewport
      overflow: hidden

      #app
        max-height: 100vh

#app
    display: block
    position: relative
    min-height: 100vh

#content
    min-height: 100vh

.jumbotron
    width: 100%
    height: calc(100vh / 2)
    background-color: red
