#cover
  .cover__background
    background-image: url(public/images/home-sections/cover--small.png)

  .cover__content
    width: 100%
    height: 100%
    background-image: url(public/images/home-sections/cover.png)

    .is-touch &
      @media screen and (orientation: portrait)
        background-image: url(public/images/home-sections/cover.vertical.png)
      
