#documents
  display: flex

  .documents__content
    flex: 1
    display: flex
    align-items: center
    padding: 0 10%

    @media screen and (max-width: 950px)
      flex-direction: column
      padding: 150px 3%

  .documents__col
    height: 50%
    max-height: calc(80vw / 3)
    flex-direction: column
    flex-grow: 1
    margin: 5px
    position: relative

    @media screen and (max-width: 950px)
      width: 100%

    &:hover
      .documents__cover
        height: 0px
        font-size: 0px
        border-color: #fff

      .documents__file
        height: calc(50% - 10px)
        font-size: 1.3em
        border-color: #ccc
        margin: 5px 0px

        @media screen and (max-width: 950px)
          height: 95%
          width: calc(48% - 10px)

      .documents__file-icon
        display: block
        opacity: .1

  .documents__cover
    position: absolute
    top: 0px
    left: 0px
    height: 100%
    width: 100%
    z-index: 10
    transition: height .3s ease-out, font-size .3s ease-out, border-color .5s ease-out
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.5em
    background-color: #c5c5c5
    color: white
    // box-shadow: 0px 0px 8px #0002

  .documents__files
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    z-index: 5
    flex-direction: column

    @media screen and (max-width: 950px)
      flex-direction: row
      justify-content: space-evenly

  .documents__file
    height: 0px
    width: 100%
    font-size: 0px
    // box-shadow: 0px 0px 8px #0002
    transition: height .5s ease-out, font-size .5s ease-out, border-color .7s ease-out, color .5s ease-out, width .5s ease-out
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    position: relative
    color: $magenta
    color: $font-color
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    &[doc="manual"]
      background-image: url(/public/images/documents/manual.png)

    &[doc="drawings"]
      background-image: url(/public/images/documents/drawings.png)

    &[doc="press_release"]
      background-image: url(/public/images/documents/press_release.png)

    &[doc="press_kit"]
      background-image: url(/public/images/documents/press_kit.png)

    &[doc="llibre"]
      background-image: url(/public/images/documents/llibre.png)

    &[doc="eternari"]
      background-image: url(/public/images/documents/eternari.png)

    > a
      position: relative

      &:after
        position: absolute
        content: ""
        bottom: 0px
        width: 0px
        left: 50%
        transform: translateX(-50%)
        height: 1px
        // background-color: $magenta
        background-color: $font-color
        transition: width 300ms


    @media screen and (max-width: 950px)
      width: 0px
      height: 100%

    &:hover
      font-weight: bold

      > a::after
        width: 100%

      .documents__file-icon
        background-image: url(/public/images/document_icon--green.png)

    .documents__file-icon
      position: absolute
      top: 0px
      left: 0px
      width: 100%
      height: 100%
      background-image: url(/public/images/document_icon.png)
      background-size: 30%
      background-position: center
      background-repeat: no-repeat
      z-index: -1
      opacity: .0
      transition: opacity .5s ease-out

    a
      text-decoration: none
      text-align: center
      color: inherit
      font-size: inherit
