#gallery
  .gallery__background
    background-image: url(public/images/home-sections/gallery--small.png)

  .gallery__content
    background-image: url(public/images/home-sections/gallery.png)

    // .is-touch &
    //   @media screen and (orientation: portrait)
    //     background-image: url(public/images/home-sections/gallery.vertical.png)
