@import "./Cover.styl";
@import "./Manifest.styl";
@import "./Project.styl";
@import "./Team.styl";
@import "./Gallery.styl";
@import "./Documents.styl";

.home-section__wrapper
  width: 100%
  height: 100%
  display: block

.home-section__content
  width: 100%
  height: 100%
  display: flex

  .nav-pannel
    display: flex
    flex: 1
    justify-content: flex-end
    align-items: flex-end
    padding: 0px 2rem

  .nav-pannel__btn span
    color: white
    font-size: 3.5rem
    text-align: right
    line-height: 2
    cursor: pointer

  .home-section__title
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    font-size: 3rem
