#manifest
  .manifest__wrapper
    padding: 130px 5% 10%
    height: 100%
    display: flex
    align-items: center

  .manifest__content
    flex: 1
    display: flex
    flex-flow: wrap
    justify-content: space-evenly
    align-items: center

  .manifest__principle
    position: relative
    flex: 1
    flex-basis: 18vw
    flex-grow: 0
    flex-shrink: 0
    height: 280px
    padding: 10px

    @media screen and (min-width: 1440px)
      height: 450px

    @media screen and (max-width: 750px)
      flex-basis: 25vw
      height: 210px

    @media screen and (max-width: 550px)
      flex-basis: 70vw
      height: calc(20vh - 40px)

  .manifest__principle-card
    height: 100%
    width: 100%
    background-color: transparent
    perspective: 1000px
    cursor: help

    &:hover
      .manifest__principle-inner
        transform: rotateY(180deg)

        @media screen and (max-width: 600px)
          transform: rotateY(0deg)

  .manifest__principle-inner
    position: relative
    transition: transform 800ms
    transform-style: preserve-3d
    width: 100%
    height: 100%

  .manifest__principle-image
  .manifest__principle-description
    position: absolute
    backface-visibility: hidden
    width: 100%
    height: 100%

  .manifest__principle-image
    background-size: cover
    background-repeat: no-repeat
    background-position-x: center

  .manifest__principle-description
    transform: rotateY(180deg)
    border: .5px solid #ddd
    padding: 10px
    background-color: white

    p
      font-size: .9em
      margin: 0

      @media screen and (max-width: 1440px)
        font-size: .7em
