#manifest

  .manifest__wrapper
    padding: 20% 0px
    height: 100%

  .manifest__content
    display: flex
    height: 100%

  .manifest__principle
    display: flex
    flex-direction: column
    justify-content: center

  .manifest__principle-card
    height: 500px
    background-size: contain
    background-repeat: no-repeat
