#project
  .project__background
    background-image: url(public/images/home-sections/project--small.png)

  .project__content
    background-image: url(public/images/home-sections/project.png)

    .is-touch &
      @media screen and (orientation: portrait)
        background-image: url(public/images/home-sections/project.vertical.png)
