#sponsors 
    padding-top:90px

.sponsors__content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0 5%
    height: calc(100% - 90px)

    .flex
        width:100%
        display: flex
        justify-content: center
        flex-wrap: wrap

        &:not(:last-child)
            border-bottom: .5px solid grey

    .grid-item
        display: flex
        padding-bottom: 3px 
        margin: 0 2px
 
    .grid-img
        background-size: cover
        background-position: center
        background-repeat: no-repeat

        &.bronzesponsors__item-img
        &.collaboradorsponsors__item-img
            background-size: contain

    .title
        text-align: center
        font-weight: normal
        font-size: .8em
        margin: 0
        padding-bottom: 4px

/* INSTITUCIONAL SPONSORS */
.institutionalsponsors__item-img
    height: 50px
    width: 60px

@media screen and (min-height: 700px)
    #app:not(.is-touch) &
        .institutionalsponsors__item-img
            height: 75px
            width: 95px

/* MAIN SPONSORS */
.mainsponsors__item-img
    height: 45px
    width: 90px

@media screen and (min-height: 700px)
    #app:not(.is-touch) &
        .mainsponsors__item-img
            height: 60px
            width: 120px

/* OR SPONSORS */
.orsponsors__item-img
    height: 45px
    width: 90px

@media screen and (min-height: 700px)
    #app:not(.is-touch) &
        .orsponsors__item-img
            height: 50px
            width: 100px

/* PLATA SPONSORS */
.platasponsors__item-img
    height: 45px
    width: 45px

@media screen and (min-height: 700px)
    #app:not(.is-touch) &
        .platasponsors__item-img
            height: 50px
            width: 50px

/* BRONZE SPONSORS */
.bronzesponsors__item-img
    height: 45px
    width: 45px

@media screen and (min-height: 700px)
    #app:not(.is-touch) &
        .bronzesponsors__item-img
            height: 50px
            width: 50px

/* COLLABORADORS */
/* COMPETITION */
.collaboradorsponsors__item-img
.competitionsponsors__item-img
    height: 40px
    width: 40px

@media screen and (min-height: 700px)
    #app:not(.is-touch) &
        .collaboradorsponsors__item-img
        .competitionsponsors__item-img
            height: 45px
            width: 45px