.sponsors__content
  height: "calc(100% - %s)" % $header
  margin-top: $header
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.institutionalsponsors__section-title
    text-align: center
    padding-top: 5%
    font-weight: normal
    font-size: .8 em
    height: 75px
    padding-bottom: .5%

.institutionalsponsors__item-img
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 50px
    width: 60px
    cursor: pointer

 .institutionalsponsors__section-grid
    width: 80%
    position: center
    display: grid
    grid-template-columns: repeat(7, 1fr)
    border-bottom: .5px solid grey
    padding-bottom: .3%

.institutionalsponsors__grid-item
    //margin-left: 1%
    //display: flex
    
    //flex-direction: row


    //MAIN SPONSORS

.mainsponsors__section-title
    text-align: center
    font-weight: normal
    margin-top: .1%
    font-size: .8 em
    height: 7px

.mainsponsors__item-img
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 50px
    width: 110px
    cursor: pointer

.mainsponsors__section-grid
    width: 80%
    position: center
    display: grid
    grid-template-columns: repeat(3, 1fr)
    border-bottom: .5px solid grey
    padding-bottom: .3%
    padding-left: 15%

    //OR SPONSORS

.orsponsors__section-title
    text-align: center
    font-weight: normal
    margin-top: .1%
    font-size: .8 em
    height: 7px

.orsponsors__item-img
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 60px
    width: 70px
    cursor: pointer

.orsponsors__grid-item:first-child
    display: flex
    justify-content: flex-end
    margin-right: 4%
.orsponsors__grid-item:last-child
    display: flex
    justify-content: flex-start
    margin-left: 4%
 .orsponsors__section-grid
    width: 80%
    display: grid
    grid-template-columns:  1fr 1fr
    border-bottom: .5px solid grey
    padding-bottom: .3%

//PLATA SPONSORS

.platasponsors__section-title
    text-align: center
    margin-top: .1%
    font-weight: normal
    font-size: .8 em
    height: 7px

.platasponsors__item-img
    //margin:2%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 50px
    width: 50px
    cursor: pointer
    //border: 1px solid black

 .platasponsors__section-grid
    width: 80%
    //position: center
    display: grid
    grid-template-columns: repeat(8, 1fr)
    border-bottom: .5px solid grey
    padding-bottom: .3% 
    padding-left: 5%

//BRONZE SPONSORS

.bronzesponsors__section-title
    text-align: center
    margin-top: .1%
    font-weight: normal
    font-size: .8 em
    height: 7px

.bronzesponsors__item-img
    //margin:2%
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    height: 45px
    width: 45px
    cursor: pointer
    //border: 1px solid black

 .bronzesponsors__section-grid
    width: 80%
    //position: center
    display: grid
    grid-template-columns: repeat(13, 1fr)
    border-bottom: .5px solid grey
    padding-bottom: .3%    

//COLLABORADORS

.collaboradorsponsors__section-title
    text-align: center
    margin-top: .1%
    font-weight: normal
    font-size: .8 em
    height: 7px

.collaboradorsponsors__item-img
    //margin:2%
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    height: 45px
    width: 45px
    cursor: pointer
    //border: 1px solid black

 .collaboradorsponsors__section-grid
    width: 80%
    //position: center
    display: grid
    grid-template-columns: repeat(17, 1fr)
    border-bottom: .5px solid grey
    padding-bottom: .3% 

//COMPETITION

.competitionsponsors__section-title
    text-align: center
    margin-top: .1%
    font-weight: normal
    font-size: .8 em
    height: 7px

.competitionsponsors__item-img
    //margin:2%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 60px
    width: 60px
    cursor: pointer
    //border: 1px solid black

 .competitionsponsors__section-grid
    width: 80%
    //position: center
    display: grid
    grid-template-columns: repeat(6, 1fr)
    border-bottom: .5px solid grey
    padding-bottom: .3% 